<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
     {{ title }}
  </h1>
</div>

<div class="content">
  <div class="content-div">
    <ul class="list">
      <li *ngFor="let listData of list1; let i=index"  [style.background-color] = "listData.selected ? 'grey' : 'White'" (click)="listData.selected=!listData.selected; selectList1Data(listData)">
        <span class="badge">{{listData.name}}</span> 
      </li>
      </ul> 
  </div>
  <div class="content-div">
    <div class="buttons">
      <button (click)="moveToList2()"> Move to list A</button>
      <button (click)="moveToList1()"> Move to list B</button>
      <button (click)="moveToList2()"> Add</button>
      <button (click)="moveToList1()"> Delete</button>
    </div>
  </div>
  <div class="content-div">
    <ul class="list">
      <li *ngFor="let listData2 of List2; let i=index"  [style.background-color] = "listData2.selected ? 'grey' : 'White'" (click)="listData2.selected=!listData2.selected; selectList2Data(listData2)">
        <span class="badge">{{listData2.name}}</span> 
      </li>
      </ul> 
  </div>
</div>


